###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
#################################################
# Force language markings
#################################################
*.h linguist-language=C